@media (min-width: 1020px) {
  .container-block {
    grid-template-columns: repeat(12, 1fr);
  }

  .container-block .navigation {
    grid-column: 1 / span 12;
  }

  .container-block .slide-picture {
    grid-column: 1 / span 12;
  }

  .container-block .main {
    display: grid;
    grid-column: 2 / span 10;

    /*internal component in main*/
    grid-template-columns: repeat(3, 1fr);
  }

  .container-block .main .input-bar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
  }

  .container-block .main .radar-graph {
    grid-column: 3 / span 1;
    grid-row: 1 / span 4;
    
  }

  .container-block .main .button {
    grid-column: 1/span 2;
    grid-row: 5;
    
  }
  .container-block {
    display: grid;
    height: 130vh;
    grid-template-rows: 100px;
  }



  .container-block .contact-us {
    grid-column: 1 / span 12;
    /* grid-row: 15 / 18; */
  }
  .center {
    margin: 50px 0 50px 0;
    position: relative;
    top : 50%;
    bottom : 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}



.range{
  /* margin: 100px; */
  height: 50px;
  width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 180px 0 45px;

}

.range .slider-value{
  position: relative;
  width: 100%;
}

.range .slider-value span{
  position: absolute;
  height: 45px;
  width: 45px;
  color: #ffffff;
  font-weight: 500;
  top: -40px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  line-height: 55px;
  z-index: 2; 
}

.range .slider-value span.show{
  transform: translateX(-50%) scale(1);

}

.range .slider-value span::after{
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  background : #4a8e8a;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: solid 3px ;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%; 
  border-bottom-left-radius: 50%; 
}

.range .field{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}
.range .field .value{
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color : #4a8e8a;
}
.range .field .left{
  left: -22px;
  font-size: 14px;

}
.range .field .text{
  left: -300px;

}
.range .field .output{
  right: -80px;
  background-color:  #4a8e8a;
  border-radius: 10px 10px 10px 10px;
  color: white;
  width: 40px;
  font-size: 25px;
}
.range .field .right{
  right: -22px;
  font-size: 14px;
}

.range .field input{
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #dddddd;
  outline: none;
  border: none;

}

.range .field input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background:  #4a8e8a;
  border-radius: 50%;
  border: 1px solid  #4a8e8a;
  cursor: pointer;

}

#rangeInput-field{
  text-align: center;
  margin-left: 300px;
  /* place-items: end ; */
}
/** **/
.legend {
  font-family: 'Raleway', sans-serif;
  fill: #4a8e8a;
}


.submit-button {
  


  /* padding: 20px 50px; */
    padding: 20px 20px;
  font-size: 14px;
  text-align: center;
  
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #32695f;
  border: none;
  border-radius: 15px;
  width: fit-content;


  box-shadow: 1px 3px 2px #213938a7;
}

.center {
  margin: 0 0 50px 0;
  position: relative;
  top : 50%;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}